html {
  font-size: 100%;
}

body {
  min-height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.main {
  flex: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.grid {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
}

.gridItem {
  box-sizing: border-box;
  border: 1px solid rgb(156, 156, 156);
}

.functions {
  display: flex;
  flex-direction: column;
}

